################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CharacterCreation/.vs/CharacterCreation/v16
